section{
  display: flex;
  justify-content: center;
}

.main-border{
  background-color:rgba(192,192,192,0.2);
  width: 75rem;
  height: 50rem;
  margin: 2rem;
  display: flex;
  align-items: center;
}
